@{
  ViewData["Title"] = "Create Project";
}
@model ProjectViewModel

<section id="project-create" class="p-2">
  <div class="container">
    <div class="section-title">
      <span>Create Project</span>
    </div>
  </div>
  <form enctype="multipart/form-data" asp-controller="Project" asp-action="Create" method="post">
    <div class="form-row">
      <label asp-for="Title">Title</label>
      <input asp-for="Title" class="form-control">
      <span asp-validation-for="Title"></span>
    </div>
    <div class="form-row">
      <label asp-for="LangAndTech">Technologies</label>
      <input asp-for="LangAndTech" class="form-control">
      <span asp-validation-for="LangAndTech"></span>
    </div>
    <div class="form-row">
      <label asp-for="Learned">Learned</label>
      <textarea asp-for="Learned" class="form-control"></textarea>
      <span asp-validation-for="Learned"></span>
    </div>
    <div class="form-row">
      <label asp-for="Difficult">Difficulty</label>
      <textarea asp-for="Difficult" class="form-control"></textarea>
      <span asp-validation-for="Difficult"></span>
    </div>
    <div class="form-row">
      <label asp-for="RepoURL">Repo URL</label>
      <input asp-for="RepoURL" class="form-control">
    </div>
    <div class="form-row">
      <label asp-for="LiveURL">Live URL</label>
      <input asp-for="LiveURL" class="form-control">
    </div>
    <div class="custom-file">
      <input asp-for="Imgs" class="custom-file-input">
      <label asp-for="Imgs" class="custom-file-label">
        <i class="fas fa-upload"></i>
        Choose Files(s)...
      </label>
      <span asp-validation-for="Imgs"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-20">Submit</button>
  </form>
</section>