@{
  ViewData["Title"] = "Projects";
}
@model List<Project>

<section id="project-index" class="p-2">
  <div class="container">
    @if(ViewBag.isAdmin == true)
    {
      <div class="text-center">
        <a asp-action="CreateForm">
          <button class="btn-primary">Create Project</button>
        </a>
      </div>
    }
    <div class="section-title">
      <span>All Projects</span>
    </div>
    <div class="projects">
      @foreach(Project project in Model)
      {
        <div class="project">
          <div class="project">
            <div class="project-image">
              <img src="~/img/@project.ProjectImgs[0].ImgLoc" alt="@project.ProjectImgs[0].Alt">
            </div>
            <div class="project-text px-2">
              <div class="project-text-wrap">
                <h2 class="project-text-title">@project.Title</h2>
                <p class="project-text-languages">@project.LangAndTech</p>
                <a asp-controller="Project" asp-action="Info" asp-route-title="@project.Title">
                  <button>See More</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>