/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* *{
  border: 1px dotted gray;
} */

.padding-0-10{
  padding: 0px 10px;
}
.mt-20{
  margin-top: 20px;
}
.mb-20{
  margin-bottom: 20px;
}
.h-60{
  height: 60px;
}

/* --------------------------------
        NAVBAR
----------------------------------- */
.navbar{
  display: flex; 
  justify-content: center;
  height: 50px;
}

/* --------------------------------
        HOME
----------------------------------- */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.header-spacing{
  margin: 30px 0px;
  padding: 30px 0px;
}

.index-welcome{
  color: #00008b; 
  font-weight: bold; 
  position: relative; 
  left: -250px; 
  opacity: 0;
}

.recent-projects{
  margin: 30px 0px; 
  padding: 0px 0px 30px 0px;
}
.recent-projects h1{
  color: #00008b; 
  margin: 0px 0px 30px 0px; 
  position: relative; 
  left: -250px; 
  opacity: 0;
}
.recent-project-box{
  max-width: 33%; 
  display: inline-block;
}
.recent-project-box img{
  width: 100%; 
  height: 300px; 
  object-fit: cover; 
  border-radius: 30px 30px 0px 0px; 
  padding: 2px 2px;
}
.recent-project-box div h3{
  margin: 15px 0px; 
  height: 73px;
}
.recent-project-box div p{
  height: 59px;
}
.recent-project-box div div{
  display: flex; 
  justify-content: space-evenly;
}
.recent-project-box div div a img{
  height:50px; 
  width:50px;
}
@media (max-width:1000px){
  .recent-project-box{
    max-width: 100%;
  }
  .nav-collapse-color{
    background-color: white;
  }
}

.recent-blogs-header{
  color: #00008b; 
  margin: 0px 0px 30px 0px; 
  position: relative; 
  left: -250px; 
  opacity: 0;
}
.recent-blog-box{
  display: flex; 
  justify-content: center; 
  margin-bottom: 15px;
}
.recent-blog-box div{
  border: 1px solid black; 
  border-radius: 30px;
}
.recent-blog-content{
  margin: 0px; 
  overflow: hidden; 
  display: -webkit-box; 
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
}


/* --------------------------------
        BLOG
----------------------------------- */
.blog-box{
  margin: 10px 0px;
}
.blog-box-date{
  border-left: 1px solid black; 
  border-radius: 30px 0px 0px 30px;
}
.blog-box-preview{
  border-right: 1px solid black; 
  border-radius: 0px 30px 30px 0px;
}
.blog-box-preview p{
  margin: 0px; 
  overflow: hidden; 
  display: -webkit-box; 
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
}
.blog-info-img-box{
  height: 300px; 
  width: 24%; 
  display: inline-block; 
  vertical-align: top;
}
.blog-info-img-box a img{
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

@media (max-width: 1000px){
  .blog-info-img-box{
    width: 49%;
  }
}

@media (max-width: 768px){
  .blog-box-date{
    font-size: 12px;
  }
  .blog-info-img-box{
    width: 100%;
  }
}

/* --------------------------------
        PROJECT
----------------------------------- */
.project-box{
  max-width: 33%; 
  display: inline-block;
}
.project-box img{
  width: 100%; 
  height: 300px; 
  object-fit: cover; 
  border-radius: 30px; 
  padding: 2px 2px; 
  border-bottom: 1px dotted black;
}
.project-box div h3{
  margin: 15px 0px; 
  height: 73px;
}
.project-box div p{
  height: 59px;
}
.project-box-footer{
  display: flex; 
  justify-content: space-evenly;
}
.project-box-footer a img{
  height:50px; 
  width:50px;
}

.project-info-img-box{
  height: 300px; 
  width: 24%; 
  display: inline-block; 
  vertical-align: top;
}
.project-info-img-box a img{
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

@media (max-width:1000px){
  .project-box{
    width: 49%;
  }
  .project-info-img-box{
    width: 49%;
  }
}
@media (max-width: 768px){
  .project-box{
    width: 99%;
  }
  .project-info-img-box{
    width: 100%;
  }
}

/* Home page styles
-------------------------------------------------- */
.header-bg{
  background: rgba(0, 0, 0, .05);
  height: 100%;
  width: 100%;
}

.project-section{
  border: 1px solid black;
  border-radius: 30px;
  padding: 0px;
}
.project-img{
  background: rgba(0, 0, 0, .05);
  height: 300px;
  border-radius: 30px 30px 0px 0px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  min-width: 600px;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 98%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 60px; /* Vertically center the text there */
}

/* ---------------------------------------------------
    IMAGE STYLE
----------------------------------------------------- */
.proj-images{
  height: 198px; 
  width: 200px; 
  object-fit: cover; 
  transition: .5s;
}
.proj-images:hover{
  transform: scale(1.1);
}