@{
    ViewData["Title"] = "Blog Edit";
}
@model BlogViewModel

<form enctype="multipart/form-data" asp-controller="Blog" asp-action="Edit" method="post">
  <div class="form-group">
    <label asp-for="Title">Title</label>
    <input asp-for="Title" class="form-control" value="@Model.Title">
    <span asp-validation-for="Title"></span>
  </div>
  <div class="form-group">
    <label asp-for="Content">Content</label>
    <textarea asp-for="Content" class="form-control">@Model.Content</textarea>
    <span asp-validation-for="Content"></span>
  </div>
  <div class="custom-file">
    <input multiple asp-for="Imgs" class="custom-file-input">
    <label asp-for="Imgs" class="custom-file-label">Choose Files(s)...</label>
    <span asp-validation-for="Imgs"></span>
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Update</button>
</form>

<div class="text-center">
  @foreach(BlogImg img in ViewBag.Imgs)
  {
    <div class="col" style="height: 300px; width: 19%; display: inline-block; vertical-align: top;">
      <a href="~/img/@img.ImgLoc" data-lightbox="mygallery" data-title="@img.Alt">
        <img src="~/img/@img.ImgLoc" alt="@img.Alt" class="proj-images img-fluid"
        style="width: 100%; height: 100%; object-fit: cover;">
      </a>
      <form asp-controller="Blog" asp-action="DeleteImg" asp-route-id=@img.BlogImgId method="post">
        <button class="btn btn-danger">DELETE</button>
      </form>
    </div>  
  }
</div>